[2017-05-21 07:13] braedonrogers99 opened #1 "Locking device causes open blocks to disappear upon unlock"
Can't even shrink or interact with block aside from opening the application (which fixes bug somewhat).

[2017-05-21 07:14] braedonrogers99 opened #2 "Notifications view doesn't work"
Not much to say here.

[2017-05-21 07:40] braedonrogers99 commented on #1
Resprings are fine though, interestingly

[2017-05-21 08:13] jAKAv commented on #1
Same problems

[2017-05-21 08:45] andrewwiik commented on #1
Can you give a example of exact Blocks that this happens with? also your device and iOS Version

[2017-05-21 08:47] jAKAv commented on #1
Of course, music block, ios 10.2, also had that problem on 9.3.3, iPhone 5s.

[2017-05-21 08:59] Quoll-io opened #3 "Icon for opening block doesn't work"

[2017-05-21 08:59] andrewwiik commented on #3
Please list your device and iOS Version

[2017-05-21 09:01] andrewwiik commented on #2
Besides your device and iOS Version please

[2017-05-21 09:01] Quoll-io commented on #3
iOS 10.1.1, iPhone 7

iOS 10.2, iPhone 5s

iOS 10.2, iPhone 5s

[2017-05-21 09:02] andrewwiik commented on #3
Please only list the devices you bothered to test on

[2017-05-21 09:02] Quoll-io commented on #3
I did

[2017-05-21 09:03] andrewwiik commented on #3
okay, thank you for your submission

[2017-05-21 11:48] iinkredible7 commented on #1
Same issue

[2017-05-21 11:50] iinkredible7 commented on #2
Notifications view don't work for me either i7+ iOS 10.1.1

[2017-05-21 16:57] andrewwiik commented on #1
Please provide your device version and iOS @iinkredible7

[2017-05-21 18:04] braedonrogers99 commented on #1
Afaik it happens with all blocks @andrewwiik

[2017-05-21 18:05] braedonrogers99 commented on #1
i6S on 10.2

[2017-05-21 18:07] braedonrogers99 commented on #3
Hmm, works for me i6s 10.2

[2017-05-21 18:09] braedonrogers99 commented on #2
I6s 10.2

[2017-05-21 19:24] MattIsAPerson opened #4 "Creates empty pages of apps"
https://imgur.com/a/K5Ool

Happens on both my 6 on 10.2 and SE on 10.1.1 (SE is the one shown in Imgur). Issue is fixed after uninstalling the tweak. Happens when moving apps anywhere, even if it's on the same page.

[2017-05-21 19:46] andrewwiik commented on #4
You seem to be using multiple tweaks besides iOS blocks that affect the icon layout of the homescreen, can you please list them and also try removing them and then installing Curago again and see if that fixes the issue

[2017-05-21 19:47] andrewwiik commented on #3
@LaughingQuoll can you try disabling all other tweaks except iOS Blocks and see if the issue is resolved, it might be tweak conflict as this function seems to work for other users.

[2017-05-21 20:05] braedonrogers99 commented on #1
Still an issue on 0.2.2.-0

[2017-05-21 20:13] braedonrogers99 commented on #1
But you can interact with the invisible widgets now. Can't wait to see this bug fixed!

[2017-05-21 20:17] MattIsAPerson commented on #4
SE: Anchor, HideMeX, Springtomize 4, ReformX
6: Anchor, ReformX, HideMeX

The issue was Anchor
edit: Boxy 3 works with Curago

[2017-05-21 20:20] Windexi commented on #3
Happens to me as well. iPhone 6s iOS 10.2

[2017-05-21 20:21] Windexi opened #6 "After receiving a notification on the LS, upon unlocking your blocks will be invisible until you tap on where the icon was to open the app. iPhone 6s, iOS 10.2"

[2017-05-21 20:22] Windexi commented on #1
It happens when you receive a notification on the LS and you unlock @braedonrogers99 @jAKAv

[2017-05-21 20:24] Windexi opened #7 "Messages block does not show contact info"
Unsure if this was intended or not, but in the release screenshot it had names for the separate conversations.

[2017-05-21 20:31] leo98gomez commented on #2
I also have this issue on my iPhone 6s+ 10.2. There are notifications on the apps but the block just says no notifications

[2017-05-21 20:33] braedonrogers99 commented on #1
@windexi not for me, it happens every time

[2017-05-21 20:38] braedonrogers99 commented on #6
Already posted as an issue.

[2017-05-21 20:39] 6e757275706f opened #8 "SB Crashed into SSM (Subst. Safe Mode) when opening Today view w/ Weather Block Open"

[2017-05-21 20:39] andrewwiik commented on #7
Device and iOS Version please

[2017-05-21 20:39] 6e757275706f commented on #8
Note the Weather Location hadn't been loaded on the block.

[2017-05-21 20:39] andrewwiik commented on #8
Device and iOS Version

[2017-05-21 20:40] andrewwiik commented on #6
Device and iOS Version Please

[2017-05-21 20:43] andrewwiik commented on #3
@LaughingQuoll @Windexi Could I get Tweak lists from the both of you please

[2017-05-21 20:46] andrewwiik commented on #3
@LaughingQuoll @Windexi do either of you have iWidgets installed?

[2017-05-21 20:48] 6e757275706f opened #9 "SB Crashes when receiving Notification from Messages with block open"
Maybe due to updating block view.

[2017-05-21 20:49] leo98gomez opened #10 "[Bug] Icon Settings not working"
The icons settings don't seem to be working, have no effect. Move icons back after closing would fix the annoyance of having to reorder the icons every time.
.

[2017-05-21 20:49] leo98gomez commented on #10
iPhone 6s+ iOS 10.2

[2017-05-21 20:49] 6e757275706f commented on #9
iPad Mini 2 on iOS 10.2

[2017-05-21 20:49] andrewwiik commented on #10
Please post the feature request and bug as two separate issues

[2017-05-21 20:50] 6e757275706f commented on #8
iPad Mini 2 on iOS 10.2

[2017-05-21 20:54] andrewwiik commented on #10
@leo98gomez

[2017-05-21 21:00] leo98gomez opened #11 "[Request] Messages"
Messages Block:Could the date format be changed as an option? Currently is day/month/year to month/day/year

[2017-05-21 21:06] andrewwiik commented on #11
Dammit Leo these need to be split up too lol

[2017-05-21 21:08] andrewwiik commented on #10
These would still be two separate issues, one for rotation and one for the move icons back when closed

[2017-05-21 21:08] Windexi commented on #7
iPhone 6s, iOS 10.2

[2017-05-21 21:08] Windexi commented on #6
iPhone 6s, iOS 10.2

[2017-05-21 21:11] andrewwiik commented on #10
@leo98gomez

[2017-05-21 21:11] andrewwiik commented on #11
@leo98gomez

[2017-05-21 21:23] iinkredible7 opened #12 "App open causing crash"
After installing curago 0.2.2-0 my settings app is broken it sends me into safe mode when trying to open it ip7+ 10.1.1

[2017-05-21 21:24] andrewwiik commented on #12
Could you install crash reporter and attach the logs to this issue please

[2017-05-21 21:29] MattIsAPerson opened #13 "Curago no notifications in every app"
On my SE on 10.1.1

https://www.youtube.com/watch?v=KmzsuzzAPAk

Happens on the music app while playing music, weather app, Cydia app, messages app, App Store, and probably every other block.

[2017-05-21 21:30] Quoll-io commented on #3
I do but at the time it was disabled.

[2017-05-21 21:30] andrewwiik commented on #13
Duplicate of #2 - Closing

[2017-05-21 21:30] #13 closed, assigned to nobody

[2017-05-21 21:31] andrewwiik commented on #3
@LaughingQuoll Please fully uninstall it and tell me if the issue persists

[2017-05-21 21:33] iinkredible7 commented on #12
Will do

[2017-05-21 21:36] Quoll-io commented on #3
Still

[2017-05-21 21:39] ann0see opened #14 "Wriggle Mode is laggy"
It looks like this: https://gifyu.com/images/0D69DA80-1429-4D17-955A-632B96538AA61.gif

[2017-05-21 21:43] leo98gomez opened #15 "[Bug] Camera Block"
Camera: The camera block isn't working. When I open it and tap the first big shutter button it minimizes how its supposed to but the camera view is just gray. The camera isn't actually opening to take photos and if I tap it I'm sent into safe mode.
iPad Air iOS 9.3.3

[2017-05-21 21:43] andrewwiik commented on #14
Please give your device and iOS Version, this is most likely due to the calculations for making sure all the blocks are fine and that the icons arrange properly, I hesitate to mess with that portion of the code as I spent months getting it to work properly and making it efficient is difficult iMO

[2017-05-21 21:44] ann0see commented on #14
Ok: iPhone SE, iOS 10.2

[2017-05-21 21:45] leo98gomez opened #16 "[Request] Calendar Block"
Calendar: Add a view that shows the whole monthly calendar view. To see if x day falls on Monday,Tues, etc.

[2017-05-21 21:46] andrewwiik commented on #15
Known bug, when I partially rewrite the camera block this should be fixed hopefully

[2017-05-21 21:49] leo98gomez opened #17 "[Bug] Changing orientation"
Another issue is when changing orientation. The blocks disappear for a second then come back.
iPhone 6s+ iOS 10.2
iPad Air iOS 9.3.3

[2017-05-21 21:50] andrewwiik commented on #16
Don't understand, can you explain more please

[2017-05-21 21:50] leo98gomez commented on #15
Should this be labeled iOS 9 (too)? @andrewwiik

[2017-05-21 21:51] iinkredible7 commented on #12
New to github how do I do that

[2017-05-21 21:52] leo98gomez commented on #16
I guess show a mini calendar as if it was opened on the homescreen but in the form of a block.

[2017-05-21 21:53] andrewwiik commented on #12
Just email them to me cardflourish101@gmail.com and I'll attach them for you, in the future you can just drag and drop them into the reply box from a PC (you can email them to yourself to get them to your PC)

[2017-05-21 21:54] andrewwiik commented on #3
Okay please post a tweak list @LaughingQuoll

[2017-05-21 21:59] iinkredible7 commented on #12
Ok cool thanks and I emailed them to you

[2017-05-21 22:02] leo98gomez opened #18 "[Bug] Clock Block"
When in portrait the block works fine. But when i go to landscape i can only enable the alarm but not disable it. Sometimes I can disable it but I have to close and re open the block and it only works once. If I want to do it again I have to close and re open again.
The clock hands also "break" if I have the block open and I respring.
Another issue is that after I tap an alarm to enable it i can't

[2017-05-21 22:02] andrewwiik commented on #12
[code]

[2017-05-21 22:04] andrewwiik commented on #18
I will be rewriting the clock block and getting rid of the huge clock, it's a waste of space

[2017-05-21 23:42] ghost opened #19 "Weather Block not updating"
Device: iPhone 7
iOS version: 10.1.1

So the issue here is that weather block is not updating the current temperature, I have to reopen block for it to update it.

[2017-05-22 00:06] andrewwiik commented on #2
This is fixed by 1f5c6c26be9702c0e7adaf5c18583555cd5215cc

[2017-05-22 00:06] #2 closed, assigned to andrewwiik

[2017-05-22 00:10] leo98gomez opened #20 "[Bug] Compability problem with MultiIconmover+"
I installed iconmover+ to rearranged the icons because my layout was kind of messed up due to curago, but when i installed Icommover and try moving icons it had. I effect. There was no crashing the tweak just wouldn't work. But when I disabled curago with iCleaner, iconmover began to work.

iPhone 6s+ iOS 10.2

[2017-05-22 00:14] andrewwiik commented on #20
Curago was never meant to handle something else moving a plethora of icons around at the same time, idk if I am going to fix this.

[2017-05-22 00:46] andrewwiik commented on #7
Fixed this bug with commit 3d180de5c5487d7c21e607d94c1c3e4c1169ef01

[2017-05-22 00:46] #7 closed, assigned to andrewwiik

[2017-05-22 01:09] andrewwiik commented on #9
Fixed by commit 1f5c6c26be9702c0e7adaf5c18583555cd5215cc

[2017-05-22 01:09] #9 closed, assigned to andrewwiik

[2017-05-22 02:25] andrewwiik opened #21 "Fitness Data not pulled on iOS 10"
Data for the Fitness Widget is not being pulled correctly in iOS 10

[2017-05-22 02:36] ghost opened #22 "Music Block doesn't show anything"
![whatsapp image 2017-05-22 at 04 30 36](https://cloud.githubusercontent.com/assets/15127473/26290409/8d5517aa-3ea7-11e7-8902-60d19c8be02f.jpeg)

I don't see anything in block music, even if i'm playing something it just show the same black content

iPhone 6+  10.1.1

[2017-05-22 03:11] andrewwiik commented on #22
Please go into settings and assign the music block to the music app

[2017-05-22 03:12] andrewwiik opened #23 "Default Block to App Assignments"
Add default block to app assignments so users can start using the tweak without configuring anything.

[2017-05-22 03:16] ghost commented on #22
![whatsapp image 2017-05-22 at 05 15 35](https://cloud.githubusercontent.com/assets/15127473/26291304/bf52c0b2-3ead-11e7-843f-4abd3b517549.jpeg)
Well that worked but sometimes shows a transparent screen

![whatsapp image 2017-05-22 at 05 16 33](https://cloud.githubusercontent.com/assets/15127473/26291335/d97013b4-3ead-11e7-8326-afd21ac5be52.jpeg)

[2017-05-22 03:41] andrewwiik commented on #22
I already have a issue open for disappearing widgets, I'll be closing this issue as the main point was resolved.

[2017-05-22 03:50] #22 closed, assigned to nobody

[2017-05-22 04:14] SynnyGR commented on #3
Same thing for me, bottom left icon doesn't open the app :/
I'm on an iPhone 6s Plus in 10.2.
For the info I've just tried to disable HideMeX but nothing changed.

By the lack of time, I can't do more as if now but if you need something don't hesitate, I'll do my best to give it to you ;)

[2017-05-22 04:19] Aransh opened #24 "Weather and music widgets not interactive"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL). I can't tap the control buttons on the music widget, nor can I swipe on the weather Widget to get the forecast

[2017-05-22 04:20] Aransh opened #25 "Music Widget controls misaligned on RTL"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
http://imgur.com/vm8muSx
As seen in the photo the controls overlap the music icon

[2017-05-22 04:22] Aransh opened #26 "Icons to the right of widgets are untappable"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
The widgets appear correctly to RTL (aligned from right to right), though it appears they still somehow "cover" the icons to their right as they cannot be opened

[2017-05-22 04:25] Aransh commented on #24
Also, I'm unable to tap them to open their app

[2017-05-22 04:25] braedonrogers99 commented on #26
Hmm, not an issue on I6s 10.2. Might want to put a tweak list, sounds like an incompatibility of some sort possibly.

[2017-05-22 04:27] braedonrogers99 commented on #24
You have to touch very very lightly on the app icon when using force sensitive displays

[2017-05-22 04:27] Aransh opened #27 "Weather block used as weather app icon in multitasking"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL) http://imgur.com/KNt7FkG

[2017-05-22 04:28] braedonrogers99 commented on #18
Dang, I liked the big clock lol

[2017-05-22 04:28] Aransh commented on #26
As I've stated, my device uses Hebrew, which is right to left aligned and often causes issues with tweaks, that's probably it...

[2017-05-22 04:29] Aransh commented on #24
Again, probably related to RTL alignment

[2017-05-22 04:33] Aransh commented on #24
Update: changed language to English to verify, does fix interactability, though I'm still unable to tap the widget to open the app no matter what I do...

[2017-05-22 04:53] andrewwiik commented on #24
@Aransh can I Have a tweak list, because I keep getting reports of being unable to open the app when tapping but can't find why it doesn't happen to everyone

[2017-05-22 04:54] andrewwiik commented on #3
@SynnyGR Full Tweak List Please

[2017-05-22 04:58] Aransh opened #28 "Messages block doesn't support Hebrew"
iOS 10.1.1 iPhone 7 Plus
Letters that are in Hebrew appear as gibrish in the block http://imgur.com/a/7BR8K

[2017-05-22 05:05] Aransh commented on #24
@andrewwiik
Just disabled all tweaks but Curago using iCleaner and I'm still unable to tap the widget to open... might be a device specific issue idk

[2017-05-22 05:16] Aransh opened #29 "Blocks don't rotate correctly if you rotate inside an app and the exit to homescreen"
iOS 10.1.1 iPhone 7 Plus
http://imgur.com/a/zSMfL

[2017-05-22 05:19] Aransh opened #30 "No default background to Weather block creates unreadable white on white when there's no signal"
iOS 10.1.1 iPhone 7 Plus
http://imgur.com/a/AqjDJ

[2017-05-22 05:25] teamc0smic commented on #3
@andrewwiik I'll send you a tweaklist, I do not have iWidgets. I'll mess around with Cydia Substrate addons and see what happens. I have a hunch it's BetterFiveColumnHomescreen

[2017-05-22 05:27] Windexi commented on #3
@andrewwiik I'll send you a tweaklist, I do not have iWidgets. I'll mess around with Cydia Substrate addons and see what happens. I have a hunch it's BetterFiveColumnHomescreen

[2017-05-22 05:27] Aransh opened #31 "Rotating to landscape on RTL devices misaligns blocks, rotating back to portrait keeps them misaligned"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
http://imgur.com/a/v7CF7

[2017-05-22 05:28] Aransh opened #32 "Weather block forecast randomly appears incorrectly"
iOS 10.1.1 iPhone 7 Plus (English)
http://imgur.com/a/2L0F4

[2017-05-22 05:33] Aransh opened #33 "Blocks misalign on respring on RTL devices"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
http://imgur.com/a/yRJ4E

[2017-05-22 05:41] andrewwiik commented on #28
*Technically* a problem with all languages currently, I have to fix this, thank you for notifying me of all the RTl bugs by the way. It's a big help

[2017-05-22 05:48] SynnyGR commented on #3
Here is the tweak list. Sorry, it come from Flame, tell me if you want a text file instead :

0xygen iOS10: 1.1
3G Unrestrictor 5 (iOS 10/9/8/7): 5.9.10
7-zip (POSIX): 4.57-3p
Activator: 1.9.12
Anemone: 2.1.1-27
Apple File Conduit "2": 1.2
AppList: 1.5.13
APT 0.6 Transitional: 1:0-23
APT 0.7 (apt-key): 0.7.25.3-3
APT 0.7 Strict (lib): 0.7.25.3-14
APT 0.7 Strict: 0.7.25.3-8
BackupAZ 2 (iOS 7 - 10):

[2017-05-22 05:51] Windexi commented on #3
@SynnyGR the only tweak we seem to have in common is Touchr, I'll disable and see if it works.

[2017-05-22 05:53] Windexi commented on #3
@SynnyGR @andywiik no luck, after disabling Touchr the bug still remains.

[2017-05-22 05:56] SynnyGR commented on #3
Same :/

[2017-05-22 06:18] Windexi commented on #3
Here's my tweaklist:

7-zip (POSIX) - 4.57-3p
Activator - 1.9.13~beta1
adv-cmds - 119-6
AirDrop Disabler - 0.0.1
AndredK MASQ - 1.2
App Admin - 1.0r-71
App Center - 1.0.5-1
AppInfo - 1.6.2
Apple File Conduit "2" - 1.2
AppList - 1.5.13
AppSync Unified - 6.0~b1
APT 0.6 Transitional - 1:0-23
APT 0.7 (apt-key) - 0.7.25.3-3
APT 0.7 Strict - 0.7.25.3-8
APT 0.7 Strict (lib) - 0.7.25.3-14
Arp Scan - 1.8.1

[2017-05-22 06:32] t1me2die opened #34 "Weather block disappear after unlock"
iPhone 7, iOS 10.1.1:
Sometimes the weather block disappear after I unlock the phone.

Before I lock my device:
![block0](https://cloud.githubusercontent.com/assets/28856337/26295207/17325778-3ec9-11e7-901e-cf31bbf28547.PNG)

After I unlock it:
![block1](https://cloud.githubusercontent.com/assets/28856337/26295223/2ba33f1a-3ec9-11e7-99ba-0e89555a2730.PNG)

[2017-05-22 06:37] andrewwiik commented on #34
Duplicate of #1 - Closing this issue

[2017-05-22 06:37] #34 closed, assigned to nobody

[2017-05-22 06:40] andrewwiik commented on #3
@Windexi I thought infinidock doesn't support iOS 10?

[2017-05-22 06:42] Windexi commented on #3
@andrewwiik it does with HSMapFix from CPDigitalDarkroom's repo

[2017-05-22 06:44] andrewwiik commented on #3
hmmm, I know this is asking a lot but can either of you use iCleanr or something of the sorts to only enable iOS blocks and see if it now works for you, I need to know whether for sure it is a tweak conflict or not @Windexi @LaughingQuoll @SynnyGR

[2017-05-22 06:53] SynnyGR commented on #3
@andrewwiik I've just done it using iCleaner Pro and the issue persist, I think the bug reside in the iosBlocks code !

[2017-05-22 07:04] doganme27 opened #35 "Fitness block not show numeric info"
Fitness block now show any info. shows 0 default

[2017-05-22 07:06] doganme27 opened #36 "Active blocks not respond to touch"
Active blocks not respond to touches. Cant used when active. Close block and open and use related app.
Device iphone 7 plus
ios: 10.1..1

[2017-05-22 07:08] doganme27 opened #37 "Blocks disappear when device locked"
Blocks are disappeared when device locked and than back to springboard when unlocked
Device iphone 7 plus
ios 10.1.1

[2017-05-22 07:09] doganme27 opened #38 "Calender block not show turkish language"
Calender block not show name of days in turkish (device default language), even if i added manuaşly turkish lproj folder

[2017-05-22 07:10] doganme27 opened #39 "Sms block wrongly show special letters"
Sms block show wrongly special turkish language letters (ç,ö,ş,ı,ğ)

[2017-05-22 07:11] andrewwiik commented on #37
Duplicate of #1 - Closing

[2017-05-22 07:11] #37 closed, assigned to nobody

[2017-05-22 07:12] andrewwiik commented on #36
Please go into more detail, tweak list maybe too, like what parts of a block can you not touch?

[2017-05-22 07:15] andrewwiik commented on #36
@imodder

[2017-05-22 07:15] andrewwiik commented on #38
Screenshot please, and device and iOS Version

[2017-05-22 07:22] doganme27 commented on #36
Tweaks installed;
Darkmessages
Eclipse 4
Infinidock
Noctis
Springtomize 4
Weatherlock
Priorty hub

I try to touch every possible area of active blocks (eg weather, music) but not repond to open related app. For that reasen, pinch to plocse active block to icon size and open that app and can use it

[2017-05-22 07:26] doganme27 commented on #38
https://imgur.com/gallery/lrqva
iphone 7 plus
iOS 10.1.1
System default language turkish

For example, weather app show content in turkish but calender app show day names in english, not turkish

[2017-05-22 07:37] hitesh1khandelwal commented on #36
Same here. It doesn't open the active block.

[2017-05-22 07:39] andrewwiik commented on #36
You are supposed to touch the bottom left corner where the icon is, can you try disabling infinidock and see if that fixes the issue @imodder

[2017-05-22 07:43] hitesh1khandelwal opened #40 "Block disappears sometimes"
Block disappears sometimes and then I have to pinch the block and then expand again.

Device - iPhone 6s
IOS - 10.2

[2017-05-22 07:48] andrewwiik commented on #40
Duplicate of #1 - Closing

[2017-05-22 07:48] #40 closed, assigned to nobody

[2017-05-22 07:58] Aransh commented on #28
@andrewwiik happy to hear it does more than bother you 😅 Appreciate the effort!

[2017-05-22 08:00] hitesh1khandelwal commented on #1
For me whenever I unlock the phone the block disappears but when I swipe between pages then the block reappears.

[2017-05-22 08:31] doganme27 commented on #36
Not changed, click on icon area but not work. Special issue for my device?

[2017-05-22 09:10] andrewwiik commented on #1
Fixed by commit 95f3e41d7dbf3c89cb96fa897f6cfc83c7754040 - Closing Issue for now

[2017-05-22 09:11] andrewwiik commented on #29
Fixed by commit 95f3e41d7dbf3c89cb96fa897f6cfc83c7754040 - Closing for now

[2017-05-22 09:11] #29 closed, assigned to nobody

[2017-05-22 09:14] andrewwiik opened #41 "Block Size Error on Rotation - iOS 7 + 8"
Need to figure out solution for the rotation size bug for iOS 7 + 8, iOS 9 and 10 workaround complete

[2017-05-22 09:15] andrewwiik commented on #6
Fixed by commit 95f3e41d7dbf3c89cb96fa897f6cfc83c7754040 - Closing for now

[2017-05-22 09:15] #6 closed, assigned to andrewwiik

[2017-05-22 09:16] #1 closed, assigned to andrewwiik

[2017-05-22 10:52] akizzyou commented on #36
Same issue here on 6s, ios 10.1.1
Tweaklist: cheader, colorflow, colorbanner, hidemex, flipcontrolcenter, littlebrother, sonus, noctis & zeppelin.
Have touched the icon but nothing happened.

[2017-05-22 11:29] iinkredible7 commented on #12
Any idea on why I'm having this issue

[2017-05-22 11:44] andrewwiik commented on #12
I can sometimes reproduce it but not always, it's on my list of bugs to look at today since it caues a crash

[2017-05-22 12:16] andrewwiik commented on #28
@Aransh I love supporting RTL as a lot of devs don't so it makes my tweaks stand out and makes them available to more people, also I am closing this issue for now as it is fixed by commit 0f747e14141a95d7a255da2c04693c135f701ca8

[2017-05-22 12:16] #28 closed, assigned to nobody

[2017-05-22 12:16] andrewwiik commented on #39
Fixed by commit 0f747e14141a95d7a255da2c04693c135f701ca8 - Closing for now

[2017-05-22 12:16] #39 closed, assigned to nobody

[2017-05-22 12:18] ghost opened #42 "iOS Blocks disappearance bug"
Device: iPhone 7 Plus
iOS version: 10.1.1

iOS Blocks disappears while entering multitask window. [gif](https://media.giphy.com/media/kJ3312q76iVI4/giphy.gif)

Multitask window tweak:
3D Switcher

[2017-05-22 12:43] andrewwiik commented on #38
Fixed by commit 1269356f67120840be2ec58d7e393e90ad1e11b7 - Closing for now

[2017-05-22 12:43] #38 closed, assigned to nobody

[2017-05-22 12:44] andrewwiik commented on #16
Okay now I understand

[2017-05-22 12:45] andrewwiik commented on #42
Fixed by commit 95f3e41d7dbf3c89cb96fa897f6cfc83c7754040 - Closing for now

[2017-05-22 12:45] #42 closed, assigned to nobody

[2017-05-22 12:46] doganme27 commented on #39
Thanks

[2017-05-22 12:46] andrewwiik commented on #27
Do you know if this happens when the language is set to English as well? @Aransh

[2017-05-22 12:54] doganme27 commented on #38
Thanks

[2017-05-22 13:39] callum-99 opened #43 "iOS 7 Preferences crash when selecting app"
When selecting an app in the 'Manage widgets' tab, Preferences.app crashes.

Crashlog + syslog: https://ghostbin.com/paste/9abxe

Tested on iPhone 4 iOS 7.1.2

[2017-05-22 14:09] LeanderVanBaekel opened #44 "All blocks show show "no notification""
Every block I open show the [same message](http://imgur.com/LVkRfV9). The settings page also is empty [(image)](http://imgur.com/JmNNeiW). Im on a iphone 7 iOS 10.1.1

[2017-05-22 14:57] braedonrogers99 opened #45 "If applying any sort of pressure when opening an application while in block form, block won't launch application."
i6S 10.2.

[2017-05-22 15:28] iinkredible7 commented on #12
Your a life saver been following curago since the first beta

[2017-05-22 15:56] Aransh commented on #27
@andrewwiik Yes, I had that when I switched to english for testing too

[2017-05-22 19:58] andrewwiik commented on #45
hmmmm, this might the most useful issue filed yet

[2017-05-22 20:04] andrewwiik commented on #45
yep, most useful issue filed yet, now only if I knew how to fix the bug lol

[2017-05-22 20:08] andrewwiik commented on #36
Think I found the issue

[2017-05-23 06:25] hitesh1khandelwal commented on #36
That's great.

[2017-05-23 06:33] doganme27 opened #46 "Message Block not show updated info"
Message block when active, an incoming message / outgoing message takes place not show latest ones. It requires closing active block and reopen active block to show latest messages in list on active block.

[2017-05-23 08:13] iinkredible7 commented on #12
I no longer have this issue anymore I'm not sure why but I have resprings into safe mode the blocks still disappear and my phone freezes when sliding down my notifications or quick reply I know that's a lot in one comment

[2017-05-23 11:41] andrewwiik commented on #45
Still a useful issue, still can't fix it, spent a good 5 hours trying to yesterday lol

[2017-05-23 11:43] andrewwiik commented on #12
I think I may have fixed the notification freeze stuff by accident when I fixed the block notifications

Sent from my iPhone

[2017-05-23 13:05] andrewwiik commented on #46
Can you make the inability to scroll on the message list as a separate issue please @imodder

[2017-05-23 13:06] braedonrogers99 commented on #45
Damn lol. Good luck

[2017-05-23 13:06] andrewwiik commented on #45
FIXED by commit e38db02d69022282426fabf94e554ea6fdfde273 :) - Closing for now

[2017-05-23 13:06] #45 closed, assigned to nobody

[2017-05-23 13:07] andrewwiik commented on #3
Fixed by commit e38db02d69022282426fabf94e554ea6fdfde273 - Closing for now

[2017-05-23 13:07] #3 closed, assigned to andrewwiik

[2017-05-23 13:07] doganme27 opened #47 "Message Block List is not Scrollable"
When message block is active, message list on active block not scrollable, but calender block scrollable

[2017-05-23 13:20] andrewwiik commented on #36
Fixed by commit e38db02d69022282426fabf94e554ea6fdfde273 - Closing for now

[2017-05-23 13:20] #36 closed, assigned to nobody

[2017-05-23 13:21] andrewwiik commented on #47
device and iOS Version?

[2017-05-23 13:23] andrewwiik opened #48 "Badges misplaced randomly"
Badges are misplaced randomly on icons that are not actually in block form

[2017-05-23 13:23] andrewwiik opened #49 "Allow 3D Touch on small Icon"
Allow users to 3D Touch on the small icon when a block is open to get a 3D Touch menu

[2017-05-23 13:25] andrewwiik commented on #44
Fixed by commit 1f5c6c26be9702c0e7adaf5c18583555cd5215cc - Closing for now

[2017-05-23 13:25] #44 closed, assigned to nobody

[2017-05-23 14:05] andrewwiik commented on #48
Fixed by commit f4b7b51797a45f87e4e87f09b93b230cabbf397f - Closing for now

[2017-05-23 14:05] #48 closed, assigned to andrewwiik

[2017-05-23 14:07] andrewwiik commented on #24
@Aransh  that ability to tap the widget open on non RTL was fixed in commit e38db02d69022282426fabf94e554ea6fdfde273 I think I need to fix it in RTL as well, not sure until I put my device into Hebrew again

[2017-05-23 14:54] Vorboid commented on #35
I also have this problem.
Is this issue not a duplicate of #21 ?

[2017-05-23 15:19] andrewwiik commented on #35
This is a duplicate actually, closing for now #21

[2017-05-23 15:19] #35 closed, assigned to nobody

[2017-05-23 16:13] mody216 opened #50 "new activation methods"
hi

many of people has big fingers like me so it will be appreciated to add new activation methods like swipe up -two taps

thank you all for your work

[2017-05-23 16:22] Tagruato opened #51 "Tapping Settings with any Block expanded forces Safe Mode"
6S+ on 10.2

[2017-05-23 17:14] Aransh opened #52 "Only right half of the blocks are interactable, and icons to the right of blocks open the block's app when tapped on RTL devices"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
My guess would be that the block appears right to left aligned as it should, but its interactive part is still left to right aligned

[2017-05-23 17:36] Eugleo commented on #51
It might be helpful to know that I have i6 also on 10.2 and don't experience this bug.

[2017-05-23 17:38] Eugleo commented on #50
I second this. A double-tap to open would be appreciated.

[2017-05-23 18:04] Eugleo opened #53 "Incompatible with Kaze"
When using Quickswitcher, some blocks (usually weather) disappear. Also in the Quickswitcher are shown the big blocks instead of normal icons.

[2017-05-23 18:14] hitesh1khandelwal commented on #47
Message block is scrollable on my device. iPhone 6s 10.2

[2017-05-23 18:27] hitesh1khandelwal opened #54 "Month view in calander block"
Can we have a month view in calander block instead of todays view or we can have both by swiping left or right for the month and todays view in calander block.

[2017-05-23 18:37] hitesh1khandelwal opened #55 "Blocks still disappears"
Whenever I open a block and directly kill the application and then go back to homescreen the block disappears. And the touch to the block is more responsive when it's disappeared. The touch is not very responsive normally. I have to click many times to open the block.

[2017-05-23 19:03] 3498BoyZ opened #56 "Crash Settings App"
When i set the blocks for too many apps (like 4 apps) and when i click on the settings app then it goes to safe mode

[2017-05-23 19:10] braedonrogers99 opened #57 "[Feature Request] - Force press on notifications/messages/weather to reveal full content/extra content on open blocks"
i6S 10.2 (Andy always seems to tell people to put their device/iOS version, so there)

[2017-05-23 19:13] braedonrogers99 commented on #55
iOS version and device, please. Also, I don't seem to have any issues with that, may be a tweak incompatibility of some sort

[2017-05-23 19:14] braedonrogers99 commented on #56
iOS and device, please

[2017-05-23 19:24] hitesh1khandelwal commented on #55
iphone 6s 10.2

Did you tried exactly ? Open the application and then kill it from the app switcher then go back to homescreen.
I'll try to disable all tweaks and try again as well just to make sure.

[2017-05-23 19:26] hitesh1khandelwal commented on #56
Same issue here as well.
iphone 6s 10.2

[2017-05-23 19:55] hitesh1khandelwal commented on #55
https://m.imgur.com/gallery/vs3BrT8

[2017-05-23 20:08] iinkredible7 commented on #51
I had this problem on i7+ 10.1.1 and I uninstalled and then cleaned with iCleaner reinstalled and I didn't have the issue anymore

[2017-05-23 20:12] iinkredible7 opened #58 "Apps still show borders"
Apps with blocks invoked still show icon shadows and blank space have shadow as well i7+ 10.1.1  ![](http://i.imgur.com/ypTMyKu.jpg)

[2017-05-23 20:21] iinkredible7 commented on #58
This is how all my blocks look
As well is this because of my theme or a bug.  ![](http://i.imgur.com/TUywX9h.jpg)

[2017-05-23 21:04] braedonrogers99 commented on #55
I have tried yeah

[2017-05-23 21:06] 3498BoyZ commented on #56
Is there a Option to debug the App?
iPhone 6 - iOS 10.2

[2017-05-23 21:07] 3498BoyZ commented on #56
I just uninstalled the App and installed it again but the settings are the same. How to delete the settings without going to Settings App

[2017-05-23 22:50] braedonrogers99 opened #59 "Random crashing"
{"blame":["\/Library\/MobileSubstrate\/DynamicLibraries\/Curago.dylib"],"app_name":"SpringBoard","timestamp":"2017-05-23 16:48:25.81 -0600","app_version":"1.0","slice_uuid":"8e9cc1ca-e19e-36ca-8a05-04a78316f467","adam_id":0,"build_version":"50","bundleID":"com.apple.springboard","share_with_app_devs":false,"is_first_party":true,"bug_type":"109","os_version":"iPhone OS 10.2 (14C92)","incident_id":"

[2017-05-23 22:53] iinkredible7 opened #60 "Messages block not displaying contact name only number i7+ iOS 10.1.1"
I can't see the names in message block only the number

[2017-05-24 00:17] iinkredible7 commented on #47
Me as well happens only after I get a message and swipe banner away iOS 10.1.1 i7+

[2017-05-24 00:27] Windexi opened #61 "Messages block doesn't update conversations until respring"
For example, if someone leaves me a message saying "hello" and I respond with "Oh, hi!" it won't show "Oh, hi!" (latest message) until respring. This should be an easy fix, just make it update when you close Messages.app maybe? i6s, iOS 10.2.

[2017-05-24 00:29] Windexi commented on #19
Happens to me as well, iPhone 6s, iOS 10.2.

[2017-05-24 00:52] Windexi opened #62 "Messages block "No Notifications" issue"
Sometimes this will happen: https://imgur.com/a/DOxMG

When it does, you are unable to scroll or tap on conversations. You can, however, tap the glyph to open.

[2017-05-24 05:18] doganme27 commented on #60
same issue occur on my device i7+ ios 10.1.1 with update 7 of curago

[2017-05-24 05:19] doganme27 commented on #54
yes, please, give an option for month view on active calender block

[2017-05-24 05:21] doganme27 opened #63 "Message block show time info in english not default system language"
device: iphone 7 plus
ios 10.1.1

with update 7, message block shows time info (day, clock) info in english, not show default system language (eg. Turkish)

[2017-05-24 05:23] doganme27 commented on #47
Hi, andy

with update 7 of curago, scrolling works, thanks.

[2017-05-24 05:25] doganme27 opened #64 "Request: Folder Block for Grouping Apps"
Hi,

as shown iosblocks.com banner preview, please offer folder blocks for grouping apps.

[2017-05-24 05:28] doganme27 opened #65 "Request: Settings Block with Toggles on off view"
Could you add settings app block for accessing fastly toggle switches (eg, Bluetooth on/off, Wifi on/off, Flight mode on/off,...) on active block view.

[2017-05-24 08:22] Aransh opened #66 "Manage Widgets settings panel not working"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
http://imgur.com/A9y7EAH

[2017-05-24 08:42] Aransh commented on #66
Appears to also not be working when set to English

[2017-05-24 12:17] andrewwiik commented on #54
duplicate of #16 - Closing

[2017-05-24 12:17] #54 closed, assigned to nobody

[2017-05-24 12:18] andrewwiik commented on #56
This info regarding the number of apps set may help me better fix this issue, thank you

[2017-05-24 12:21] andrewwiik commented on #52
Your assumption is correct, I attempted to fix this before I pushed the last update but my brain couldn't figure out the issue so I decided to revert my changes for then

[2017-05-24 12:21] andrewwiik commented on #60
Are you sure the name/email for the message is in your contacts?

[2017-05-24 12:23] andrewwiik commented on #57
I will not be planning on adding this feature as force touch was not introduced into iOS 9 and this tweak supports iOS 7 - 10 and I am against providing certain features to only new iOS Versions

[2017-05-24 12:23] #57 closed, assigned to nobody

[2017-05-24 12:27] andrewwiik commented on #56
ugh having a hard time replicating this crash, can I get a crash log please

[2017-05-24 12:28] andrewwiik commented on #51
Still trying to replicate this crash as I did have it happen to me once

[2017-05-24 12:32] 3498BoyZ commented on #56
Sorry bro. I dont know why but it Works now.

[2017-05-24 12:34] 3498BoyZ opened #67 "Time App Weird Bug"
http://abload.de/img/img_0037vmjbo.png
See the pic

[2017-05-24 12:36] donald-trump-jr opened #68 "Weather Block not refreshing [iPhone 5S, iOS 10.2]"
I need to close and reopen the block to get it to refresh

[2017-05-24 12:49] iinkredible7 commented on #51
Yea it's not happening to me anymore

[2017-05-24 12:51] iinkredible7 commented on #60
Yes it worked when I first downloaded the tweak just stopped

[2017-05-24 13:43] hitesh1khandelwal commented on #56
I believe you can close this issue because it's not happening now. It happened once but now there is no problem.

[2017-05-24 13:44] hitesh1khandelwal commented on #68
Same on 6s 10.2

[2017-05-24 13:49] hitesh1khandelwal commented on #50
Yes please change the activation method if possible.

[2017-05-24 13:53] hitesh1khandelwal commented on #67
It shows like this for me on ip 6s 10.2

http://m.imgur.com/gallery/S07lWjL

[2017-05-24 13:55] doganme27 commented on #62
i7+ iOS 10.1.1

it occurs also at my i7+

[2017-05-24 14:34] andrewwiik commented on #55
Fixed by commit 025332f4c52e52f2e3ca19e24802b1ade14f4e3f - Closing for now

[2017-05-24 14:34] #55 closed, assigned to nobody

[2017-05-24 14:38] andrewwiik commented on #60
Okay thank you for this information :) @iinkredible7

[2017-05-24 14:40] Aransh commented on #27
Update: the icon is now blank as of the latest beta

[2017-05-24 15:04] andrewwiik commented on #62
Fixed by commit 4e8671579bde6d7bdd54bca7ab48e3eff71c2b1a - Closing for now

[2017-05-24 15:05] #62 closed, assigned to nobody

[2017-05-24 15:05] andrewwiik commented on #47
Fixed by commit 4e8671579bde6d7bdd54bca7ab48e3eff71c2b1a - Closing for now

[2017-05-24 15:05] #47 closed, assigned to nobody

[2017-05-24 15:17] andrewwiik commented on #27
What do you mean? @Aransh

[2017-05-24 16:17] Aransh commented on #27
@andrewwiik that's what i mean
http://imgur.com/pRL2eEB

[2017-05-24 20:37] iinkredible7 commented on #60
No problem bud

[2017-05-25 06:16] doganme27 opened #69 "Bug: Block shown at folder's background when a folder is opened at wiggle mode"
Device: iPhone 7 Plus
iOS 10.1.1

When at wiggle mode, opening a folder cause to show active block at background of folder.

Here is preview of taht bug:

https://s1.postimg.org/dpjlo2hdb/IMG_5179.png

[2017-05-25 08:49] Aransh commented on #66
Update: appers to have been randomly solved, may be due to Secret_Recipe, no clue ¯\_(ツ)_/¯

[2017-05-25 09:04] KingDesta opened #70 "Bug: Weather"
The weather block shows the abbreviation for sunday on every day.
![image](https://cloud.githubusercontent.com/assets/28947219/26443595/60ed6976-4139-11e7-914d-226ee6233052.png)

[2017-05-25 09:23] KingDesta opened #71 "Request: music block"
It would be great to have the option to enable/disable the gradient on the music block so you just see the album artwork.
Another option is to have the gradient end lower instead of ending in the middle of the block and have the gradient on the bottom of the block be more transparant instead of a solid color, otherwise some of the bottom space is wasted that could have been used to see more of the

[2017-05-25 11:36] andrewwiik commented on #68
duplicate of another issue, closing

[2017-05-25 11:36] #68 closed, assigned to nobody

[2017-05-25 17:06] Aransh opened #72 "Music block shows music icon instead of music glyph on some devices"
http://imgur.com/E9EIpa5
The device on the left is an iOS 10.1.1 iPhone 7 Plus, the one on the right is a 10.1.1 iPhone 7, both are set to Hebrew (RTL)

[2017-05-25 17:14] Aransh opened #73 "Weird closing animation for apps with open blocks"
iOS 10.1.1 iPhone 7 Plus (Hebrew-RTL)
https://vimeo.com/218976894?ref=em-v-share

[2017-05-25 17:40] hitesh1khandelwal commented on #70
Device and iOS version?

And try to disable other tweaks amd check if these problems are still there or not because I never faced these issues on my 6s 10.2

[2017-05-25 18:30] Eugleo commented on #19
Iphone 6 on 10.2 as well.

[2017-05-25 19:10] KingDesta commented on #70
I have an Iphone 5 on 9.0.2.
I turned off all my other tweaks and found out the app icon outline is a compatibility issues with anemone (specifically z_AnemoneIconEffects.dylib)

[2017-05-25 19:12] andrewwiik commented on #70
Please make each of these issues a separate  issue

Sent from my iPhone

[2017-05-26 06:37] doganme27 opened #74 "Stocks Block not working, shown as white background with update 7"
Stock block not working with update 7 of curago, when block activated it shown as all white background. also app icon left bottom corner shown as white background.

device: iPhone 7 Plus
iOS 10.1.1

Screenshot:

https://s9.postimg.org/jgy9iptmn/IMG_5225.png

[2017-05-29 23:29] andrewwiik commented on #73
Fixed by commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - Closing for now

[2017-05-29 23:29] #73 closed, assigned to nobody

[2017-05-29 23:29] andrewwiik commented on #33
Fixed by commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - Closing for now

[2017-05-29 23:29] #33 closed, assigned to nobody

[2017-05-29 23:30] andrewwiik commented on #31
Fixed by commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - Closing for now

[2017-05-29 23:30] #31 closed, assigned to nobody

[2017-05-29 23:30] andrewwiik commented on #26
Fixed by commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - closing for now

[2017-05-29 23:30] #26 closed, assigned to nobody

[2017-05-29 23:30] andrewwiik commented on #24
Fixed by commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - Closing for now

[2017-05-29 23:30] #24 closed, assigned to nobody

[2017-05-29 23:31] andrewwiik commented on #59
Not random, removing notification is causing crash

[2017-05-29 23:32] andrewwiik commented on #51
Closing for now as I still can't replicate

[2017-05-29 23:32] #51 closed, assigned to nobody

[2017-05-30 01:56] Windexi opened #75 "I found a consistent way to make any blocks disappear"
All you have to do is open up an application with an open block, then kill it via the switcher from the application. Returning to home and then killing it via switcher will not make the block disappear. iPhone 6s, iOS 10.2

[2017-05-30 05:52] hitesh1khandelwal commented on #75
This issue has been fixed and will be released in next version.

[2017-05-30 05:53] hitesh1khandelwal commented on #75
It's the copy of issue #55

[2017-05-30 20:00] Aransh opened #76 "Dock disappears when swiping left on the weather widget on the homescreen"
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL)
https://vimeo.com/219574528?ref=em-share
It only happens if I swipe hard enough or swipe across the block past its end but it happens to me quite a bit, I believe it's because it thinks I'm going to the spotlight (where there's no dock)

[2017-05-31 10:58] Aransh opened #77 "Blocks' notification badges are on the right instead of left on RTL devices"
iOS 10.1.1, iPhone 7 Plus (Hebrew-RTL)

[2017-05-31 12:36] andrewwiik commented on #77
Already fixed in commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - closing for now

[2017-05-31 12:36] #77 closed, assigned to nobody

[2017-05-31 13:28] andrewwiik commented on #75
Duplicate of issue #55 - Closing for now

[2017-05-31 13:28] #75 closed, assigned to nobody

[2017-05-31 15:10] hitesh1khandelwal opened #78 "[Request] Enhancement on new activation style."
Instead of swiping up on icon to open the block can you please make an activation to swipe down to open the block and swipe up to close it.

Just a thought. And sorry for requesting it on twitter instead of github.

[2017-05-31 16:01] andrewwiik commented on #66
This indeed was the case but I also included a fix in commit 48a781450a52eb7e8bde9104956917d4ecb34694 - Closing for now

[2017-05-31 16:01] #66 closed, assigned to nobody

[2017-05-31 16:01] #56 closed, assigned to nobody

[2017-05-31 16:02] andrewwiik commented on #52
Fixed by commit ed5d301824220ab3ef4ed2d7fd69c6c140c14f9c - Closing for now

[2017-05-31 16:02] #52 closed, assigned to nobody

[2017-05-31 16:03] andrewwiik commented on #53
This is fixed by commit 3000c506f3a4691f9d4a72f5b7c71b3d9e651196 - Closing for now

[2017-05-31 16:03] #53 closed, assigned to andrewwiik

[2017-05-31 16:03] andrewwiik commented on #25
This is fixed by commit 3000c506f3a4691f9d4a72f5b7c71b3d9e651196 - Closing for now

[2017-05-31 16:03] #25 closed, assigned to nobody

[2017-05-31 16:04] andrewwiik commented on #27
This is fixed by commit 3000c506f3a4691f9d4a72f5b7c71b3d9e651196 - Closing for now

[2017-05-31 16:04] #27 closed, assigned to andrewwiik

[2017-05-31 23:12] Windexi opened #79 "No Notifications blocks don't color with the latest Anemone update"
I suspect this may be because I am using a glyph theme... https://imgur.com/a/hLNNr

[2017-06-01 09:33] hitesh1khandelwal opened #80 "How to get rid of icon type effect on free space of screen ?"

[2017-06-01 11:33] andrewwiik commented on #79
Ugh stupid Anemone

[2017-06-01 11:40] doganme27 commented on #74
github issue support stopped?

[2017-06-01 12:05] andrewwiik commented on #74
No I just can't view the image at school so I can't verify the bug, I don't reply to all issues if I don't have a question about them.

[2017-06-01 12:09] andrewwiik commented on #69
Where is the actual message icon on your HS though?

[2017-06-01 12:16] doganme27 commented on #69
actual message icon placed at first page of HS, opened folder is located at third page of HS. When opening folder at wiggle mode, this bug occurs.

[2017-06-01 12:36] andrewwiik commented on #69
I can't reproduce this bug on my device so it will be difficult to fix

Sent from my iPhone

[2017-06-01 18:39] andrewwiik commented on #80
This is fixed by commit f4eb2dd654fbcd8e72432c07d0db456c2abbe2cc - Closing for now

[2017-06-01 18:39] #80 closed, assigned to nobody

[2017-06-01 20:38] andrewwiik commented on #12
App open causing crash has been fixed by commit 56b7b913e493fc4b95796ab2bc922bfe66dfb669 - Closing for now

[2017-06-01 20:38] #12 closed, assigned to nobody

[2017-06-01 20:42] andrewwiik commented on #74
Fixed by commit d5d510a6f760fece28a44fa875d92c9ba4dafc72 - Closing for now

[2017-06-01 20:42] #74 closed, assigned to nobody

[2017-06-01 21:43] andrewwiik commented on #63
Fixed in commit bd79bbbe5483cb3fec4c5c69d7f127800415f0c7 - closing for now

[2017-06-01 21:43] #63 closed, assigned to nobody

[2017-06-01 22:20] passingintime opened #81 "Clock Problem"
iPhone 6 10.2

After opening the clock block with both options enabled, everything was fine (other than it being of centered); however, after locking and unlocking my phone, the clock hands are all off in different areas of the clock face.

Image to help understand the issue: http://imgur.com/a/mhED6

[2017-06-01 23:03] Windexi commented on #79
This has now been fixed in the latest Anemone build.

[2017-06-01 23:08] Windexi opened #82 "Glyph on blocks cropped strangely. Anemone issue or Curago issue? (Beta 8)"
Here is what the crop looks like...

https://imgur.com/a/qVaQL

[2017-06-01 23:14] Windexi opened #83 "Clock is not centered on clock block"
I don't know if this was intentional or something pushed aside for later, but the clock on the clock block is really off center and it bugs me haha

https://imgur.com/a/f7hWp

[2017-06-01 23:30] Windexi opened #84 "The tap glyph to open not working bug is back... but this time it seems to be only on Notification blocks"

[2017-06-01 23:33] iinkredible7 opened #85 "Can't open a app that has a block open have to open through switcher"
Any app in block mode I can't open i have to close the block or go through the switcher i7+ iOS 10.1.1

[2017-06-01 23:53] Aransh commented on #72
Appears to happen because there's no @3x icon, I've added one and it works now

[2017-06-02 00:10] Aransh opened #86 "Blocks appear too short in landscape mode"
http://imgur.com/dqbUHf4
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL). Checked and I'm getting this issue with English too

[2017-06-02 05:11] iinkredible7 commented on #84
It's on all blocks for me notification blocks and blocks made for specific apps

[2017-06-02 09:50] Aransh opened #87 "Music block pause button doesn't change to play when pausing"
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL)

[2017-06-02 10:14] Aransh commented on #82
Andy said it's an Anemone bug, I've submitted a report in Anemone's GitHub

[2017-06-02 10:20] Aransh commented on #72
Correction, appears to be because the info.plist defines icon as icon instead of MusicIcon, I've changed it and it looks flawless now

[2017-06-02 10:56] Aransh opened #88 "Rtl-"

[2017-06-02 10:56] #88 closed, assigned to nobody

[2017-06-02 11:01] Aransh opened #89 "RTL- Only right half of block is interactive and can't open app by tapping glyph after opening any app"
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL)
The same bug from the last version is still kind of here... when I respring, everything works correctly and the blocks are interactive and I can tap the glyph to open the app, though once I open any app (even ones without any block open) and exit back to the homescreen, it goes back to the same problem it has before this update... can only interact with right

[2017-06-02 11:07] Aransh opened #90 "Weather block resets to random location with no forecast on respring"
iPhone 7 Plus, iOS 10.1.1
Everytime I respring, the weather block shows my location is Jerusalem (which is very far from me, but is the capital of Israel if it makes it less random), the current weather appears as 0 degrees and the background is white. To fix it I have to close the block, open the app and open the block again, sometimes it fixes it right away sometimes I have to play with it for a

[2017-06-02 12:40] Aransh commented on #89
Edit: the blocks also return to being correctly interactive if I rotate my springboard to landscape and back

[2017-06-02 12:49] Aransh opened #91 "Dragging the music Block's controls down makes them disappear"
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL)
I've discovered this vig when I was about to play music (put my finger on the play button) and then decided not to, so I dragged my finger away from the button and it happend ¯\_(ツ)_/¯
https://vimeo.com/220000385?ref=em-v-share

[2017-06-02 12:52] Aransh opened #92 "Closing animation for apps with open blocks shows the app's icon"
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL)
https://vimeo.com/220000824?ref=em-v-share
The animation looks much better now since the last update, but the icon showing ruins the effect

[2017-06-02 20:37] AronBhalla opened #93 "Conflict with iconizer"
I don't know what particular feature it was but it put me into safe mode when I tried to make an icon into a block.

The features I use in iconizer are:

1) resizing the icons to make them smaller
2) making the icons circle shaped

So it could have been caused by either of those conflicting with the tweak.

[2017-06-03 01:21] andrewwiik commented on #89
hmmmmm

[2017-06-03 01:22] andrewwiik commented on #82
and CoolStar with claim it's my fault, but if he is doing images properly iOS Blocks wouldn't have incorrect image sizes :/, Though the choosing of color with Anemone Glyphs is my fault, I need to find a color average algorithm that doesn't count transparency

[2017-06-03 01:24] andrewwiik commented on #91
This seems like a bug that could happen on non RTL devices too, does it?

[2017-06-03 01:48] andrewwiik commented on #84
Are you on a RTL device? @iinkredible7

[2017-06-03 02:31] andrewwiik commented on #91
Confirmed happens on non-RTL as well

[2017-06-03 12:29] Aransh opened #94 "Notifications block bug with RTL"
iPhone 7 Plus, iOS 10.1.1 (Hebrew-RTL)
http://imgur.com/Ek4KLZ6
I don't know what's going on here, Some notifications are aligned correctly in the block (not seen in the screenshot though), some aren't, problem is only with the notification title though

[2017-06-03 12:34] Aransh commented on #94
http://imgur.com/TUYvoLX
Here's an example where the top notification appears correctly. With WhatsaApp specifically it seems like all messages from "חזי" appear correctly, but the others don't, maybe has something to do with the notification's title length as the sender's name appears in the title and "חזי" is the shortest contact name I have

[2017-06-03 17:15] krimznshadow opened #95 "Conflict with Apex 2"
When blocks are opened, apps hidden behind Apex 2 dont show when opened properly.  The apps above and below the main apps show but apps on the left and right side stay hidden behind the main app.

[2017-06-03 20:41] Aransh commented on #89
@andrewwiik seems it also works correctly after locking and unlocking, not sure how I missed it... but still, after opening an app it gets back to not working correctly

[2017-06-03 22:38] MKSTAFF95 opened #96 "Some issues"
The tweak freezing my iphone , the apps doesn't open, the apps become app on app ,if I down the app to dock it makes a lag, make safe mode , that's everything.

[2017-06-04 03:01] andrewwiik commented on #96
Please create a separate issue for every issue and include your device and iOS Version @MKSTAFF95

[2017-06-04 03:01] #96 closed, assigned to nobody

[2017-06-04 03:05] andrewwiik commented on #92
Fixed by commit 6f7a39a - Closing for now

[2017-06-04 03:05] #92 closed, assigned to nobody

[2017-06-04 04:24] andrewwiik commented on #86
Fixed by commit 7e77aade0d41ef7a49d429d2ff145d6af39fbb2c - Closing for now

[2017-06-04 04:24] #86 closed, assigned to nobody

[2017-06-04 04:24] #79 closed, assigned to nobody

[2017-06-04 07:44] andrewwiik commented on #91
Fixed by commit 87309e309eac2f7a20dfc128118004907c4a64a6 - Closing for now

[2017-06-04 07:44] #91 closed, assigned to nobody

[2017-06-04 07:45] andrewwiik commented on #87
Unable to replicate, may of been fixed by commit 87309e309eac2f7a20dfc128118004907c4a64a6 - Closing for now

[2017-06-04 07:45] #87 closed, assigned to nobody

[2017-06-04 07:51] andrewwiik commented on #93
I tried both of these and I am unable to replicate the issue

[2017-06-04 07:51] andrewwiik commented on #93
@AronBhalla

[2017-06-04 14:21] iinkredible7 commented on #84
No I'm not

[2017-06-04 17:18] Aransh opened #97 "Apps with currently open blocks appear incorrectly on slide-over view"
iOS 10.1.1, iPhone 7 Plus (Hebrew-RTL)
http://imgur.com/oZZuBqC
On this screenshot I'm using HideMeX to enable Medusa on my iPhone, though I guess this bug should happen on iPads too... My music and weather blocks are currently open, causing their icons to appear off in the screenshot, while my Twitter app has no block open so it appears correctly. If I close the music block and go back to the sli

[2017-06-04 17:30] Aransh opened #98 "Blocks disappear for a second when rotating homescreen"
iOS 10.1.1, iPhone 7 Plus (Hebrew-RTL)
https://vimeo.com/220213649?ref=em-v-share
In this video it's "sort of" quick, but it sometimes gets stuck for a few seconds and I can't interact with the homescreen until it finishes... it would be nice if it could have a rotation animation that fits in with the icon's rotation

[2017-06-04 17:35] Aransh opened #99 "Blocks don't rotate correctly if orientation is changed while in an app"
iOS 10.1.1, iPhone 7 Plus (Hebrew-RTL)
http://imgur.com/rzEipH6
http://imgur.com/p8lcOgp
So basically, I open an app while on portrait mode, rotate to portrait while in the app, and then exit to the homescreen, the blocks would still appear as they did in portrait. Also works the other way around (landscape to portrait).

[2017-06-04 18:52] am1as opened #100 "[Request] - Infiniboard Compatability"
INFINIBOARD > https://www.youtube.com/watch?v=50dUFW_BsOE

MAKING INIFNIBOARD COMPATIBLE WITH IOS BLOCKS WILL HELP WITH THE ISSUE OF ICONS PUSHING INTO THE NEXT PAGE ONCE TO MANY ICONS ARE TURN TO IOS BLOCKS

i put together a video to showcase how it would work together, thanks for your time and work.
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Request IOS blocks X infi

[2017-06-04 19:01] am1as commented on #100
Iphone 6s running ios 9.0.2

[2017-06-04 19:15] am1as opened #101 "APEX 2 CONFLICT WITH IOS BLOCKS NOT OPPENING"
SO BEFORE THE LAST UPDATED I KNOW APEX 2 WAS A BIT BUGGY  ON  CURAGO 0.2.3-X

NOW APEX 2 WORKS FLAWLESSLY BUT NOW YOU CANT OPEN BLOCKS  WITH ICONS THAT HAVE SUB-APPS BELOW (apex app) LIKE YOU COULD BEFORE VERSION: 0.2.4-X

Iphone 6s running ios 9.0.2

[2017-06-05 11:45] andrewwiik commented on #101
This is on purpose, the issue is if you allow blocks open with sub apps attached with apex then apex will glitch if a block with apex subapps is in block form and you try to open it's subapps

[2017-06-05 11:45] #101 closed, assigned to nobody

[2017-06-05 12:39] andrewwiik commented on #98
Duplicate of #17 - Closing for now

[2017-06-05 12:39] #98 closed, assigned to nobody

[2017-06-05 12:40] andrewwiik commented on #99
Does this happen in english as well? @Aransh

[2017-06-05 12:41] andrewwiik commented on #95
Can you please attach a video, gif, or screenshots of this problem please @krimznshadow

[2017-06-05 12:43] andrewwiik commented on #93
Also I need your device and iOS Version @AronBhalla

[2017-06-05 13:35] Aransh commented on #99
@andrewwiik yep, just checked

[2017-06-05 13:41] andrewwiik commented on #99
And this is on the latest version because I was so sure that i fixed this

[2017-06-05 13:48] andrewwiik commented on #99
Actually I was just able to reproduce

[2017-06-06 07:17] SynnyGR opened #102 "Bottom left icon doesn't work all the time"
Hi,

I'm on the latest Curago release (0.2.4-0 atm) and the bottom left icon doesn't work all the time. I mean I can open the app by tapping the bottom left icon only when the orientation has changed or after an unlock.

Example : I want to open WhatsApp block but the bottom left icon doesn't respond. I have to rotate my device so that it is in landscape, and now the block is responding and the ap

[2017-06-11 15:47] Aransh opened #103 "Block label appears in wrong place during closing animation"
iOS 10.1.1, iPhone 7 Plus (Hebrew-RTL)
While closing an app with an open block, during the closing animation, the label is not in its correct spot, it pops back to the correct spot once the animation is over.
https://vimeo.com/221160331?ref=em-v-share

[2017-06-14 18:06] Aransh opened #104 "Weather block weather description label not long enough"
iOS 10.1.1, iPhone 7 Plus (Hebrew-RTL)
In the attached photo, the weather description label is scrolling because it's too long though there's only one letter missing (it's 'ב', you can see like 80% of it in the screenshot), and there's plenty of space to fit this letter... I think you need to make the label longer, or maybe make it 2 lines, idk
http://imgur.com/cgGXagO

[2017-08-15 20:03] persistentcache opened #105 "Blocks not showing/opening"
Sometimes when I unlock my device the blocks make the entire page black and all the apps hide. About 5 minutes later it fixes itself. Also, sometimes the blocks will randomly not open at all. Device: i7+ (9,4) 10.1.1

[2017-10-05 00:14] #19 closed, assigned to nobody

[2017-10-16 02:32] muirxix opened #106 "[Request] Peek-a-boo tweak"
When will the peek-a-boo tweak be available on iPod 10.2.1 the jailbreak has just been released and I'd like to have the tweak on my device

[2017-10-16 02:35] muirxix opened #107 "[Request] Peek-a-boo Tweak"
How soon will this be available for iOS 10.2.1and can you add the hatic feedback in Instagram when you use the 3D Touch inside it

[2017-10-16 15:07] #107 closed, assigned to nobody

[2017-10-16 15:07] #106 closed, assigned to nobody

[2017-12-12 10:23] Aransh opened #108 "Blocks move misalign behind icons when rotating screen from spotlight page"
iPhone 7 Plus iOS 10.1.1
https://vimeo.com/246939673

[2017-12-15 07:36] iamowengreen opened #109 "Music Widget Controls"
Upon playing some form of media the music controls on the widget don't seem to match, the play/pause button doesn't switch when pressed on the expanded widget, but does update if media is paused and resumed via control centre

[2017-12-18 04:45] zoecarver opened #110 "URL broken"
The link https://packix.ioscreatix.com/ leads to a 404 page not found.

[2018-02-17 21:16] jonsparks commented on #110
This is from a Github update, you'll need to download the debs and install them manually. Check https://packix.ioscreatix.com/Packages and chain the filepaths onto the URL for a deb download.

[2018-02-19 08:54] doganme27 opened #111 "[Bug] iOSBlocks for iOS 11 - icons not regulary arranged at springboard starting from home page 3-4-..."
device iphone plus
ios 11.0.2
app icons not regularly arranged at springboard starting from home page of 3-4-5...

as if installed anchor or etc tweak :)

sshot:

https://pasteboard.co/H8kY7Sk.jpg

[2018-02-19 11:02] andrewwiik commented on #111
Closing as I said I'm not accepting issues for iOS 11 accept crashing tm

[2018-02-19 11:02] #111 closed, assigned to nobody

[2018-02-19 15:50] jonsparks opened #112 "iPad Pro/11.0.2- Settings app crashes when trying to assign blocks to apps"
Title sums it up. I was able to install the package, but once I go to Settings and try to assign the blocks to their respective app icons, it crashes back to the springboard with no changes. Let me know if there's a logfile that would be helpful and I'll upload it later today.

(using iOS Blocks 0.2.5-1 from Patreon)

[2018-02-20 03:01] dallasgroot commented on #112
Same here! I haven’t been able to test this out yet. Are there blank spaces in your settings preferences for apps as well? (Inside iOS Blox pref pane at least).

[2018-02-20 03:10] dallasgroot commented on #112
[Preferences-2018-02-19-072637.txt](https://github.com/ioscreatix/iOS-Blocks/files/1738794/Preferences-2018-02-19-072637.txt)

[2018-02-21 01:26] michaelporreca-zz opened #113 "iPhone 7/11.1. Settings app crashes when trying to assign blocks to app"
I successfully installed the tweak with the Electra tool kit but once I try to set an iOS block to the apps the settings app crashes. This only happens to the apps that have an actual iOS block for.

[2018-02-21 01:44] michaelporreca-zz commented on #113
https://pastebin.com/jk1gJqWd

[2018-02-23 09:24] MarcMurphyGit opened #114 "iOS Blocks issue: settings for certain apps crash Settings.app"
Only the Weather settings panel is working (at least amongst the iOS Blocks supported apps). When selecting other apps‘ settings, the Settings app crashes. Someone pointed at packix.ioscreatix.com to manually install, but there is no download option.

[2018-02-23 20:36] zoecarver commented on #110
@JohnCoates Thanks for the help - really appreciate it! I am a very new to jailbreaking though and I am not sure I fully understand what you mean. I opened the package file that you linked to, but I am not sure what I am supposed to do with it. I was able to get to the description URL, but I could not find any downloads. Thanks again.

[2018-02-25 20:50] ghost opened #115 "Cannot use 3D Touch to invoke shortcut menu on icons that are blocks."
Example: the Messages app. If you hard press on the Messages app the shortcut menu appears. If you then make the Messages app into an iOS Block, you can't use 3D Touch to invoke the menu.

This happens with all apps that are made into iOS Blocks.

I am using PeekaBoo, iOS 11.0, SE, Electra beta 11.

[2018-02-25 20:53] ghost opened #116 "Messages Block says that message was from '24855d' ago."
Messages Block says that all of my messages are from '24855d' ago. This happens with all of my conversations. iOS 11.0, Electra beta 11, iPhone SE.

[2018-02-25 20:54] ghost opened #117 "Weather block has white background and white text."
Weather block has white background and white text, text only slightly visible due to shadow. Location and temperature wrong. iOS 11.0, Electra beta 11.

[2018-02-25 20:56] ghost commented on #49
Tried to invoke menu with PeekaBoo and the menu will not show.

[2018-04-02 06:19] robmartin1987 opened #118 "Didn’t show up in cydia on creatix repo"
Patron$4 how to fix please advise.

[2018-04-19 08:05] Aransh opened #119 "Doesn't align correctly for right to left languages on iOS 11"
![Image](https://i.imgur.com/NUO4LDw.jpg)![Image](https://i.imgur.com/dWvNiaH.jpg)
Worked correctly for RTL on iOS 10

[2018-04-19 20:50] chashmeetsingh opened #120 "Springboard crash randomly when using this tweak. Crashes when I click on an app icon to open."
{"blame":[],"app_name":"SpringBoard","timestamp":"2018-04-20 02:09:53.86 +0530","app_version":"1.0","slice_uuid":"4b8315ac-1e25-39ec-a197-28a0027131d6","adam_id":0,"build_version":"50","bundleID":"com.apple.springboard","share_with_app_devs":true,"is_first_party":true,"bug_type":"109","os_version":"iPhone OS 11.1.2 (15B202)","incident_id":"B5477DFA-011D-403E-AB77-E835A5D53CFF","name":"SpringBoard"

[2018-07-10 14:14] ghost opened #121 "Weather not updating"
The weather block won’t update until you either respring or minimize and “block” it again.